html
{
    height: 100%;
    overflow: hidden;
}

.logo {
    position: relative;
	background-image: url('images/barrimason-logo.gif');
	width:100%;
	height:112px;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #42262A;
}

.logo-fadein {
    position: relative;
	background-image: url('images/barrimason-logo-fadein.gif');
	width:100%;
	height:112px;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #42262A;
}

.navlink {
    position: relative;
}

.navlink.right {
    margin-right: calc(50% - 200px);
    float: right;

    -webkit-transition: margin-right 0.5s ease ;
       -moz-transition: margin-right 0.5s ease;
        -ms-transition: margin-right 0.5s ease;
         -o-transition: margin-right 0.5s ease;
            transition: margin-right 0.5s ease;
}

.navlink.left {
    margin-left: calc(50% - 200px);
    float: left;

    -webkit-transition: margin-left 0.5s ease ;
       -moz-transition: margin-left 0.5s ease;
        -ms-transition: margin-left 0.5s ease;
         -o-transition: margin-left 0.5s ease;
            transition: margin-left 0.5s ease;
}

.navlink.left.active {
    margin-left: 0px;
    -webkit-transition: margin-left 0.5s ease ;
       -moz-transition: margin-left 0.5s ease;
        -ms-transition: margin-left 0.5s ease;
         -o-transition: margin-left 0.5s ease;
            transition: margin-left 0.5s ease;

}
.navlink.right.active {
    margin-right: 0px;
    -webkit-transition: margin-right 0.5s ease ;
       -moz-transition: margin-right 0.5s ease;
        -ms-transition: margin-right 0.5s ease;
         -o-transition: margin-right 0.5s ease;
            transition: margin-right 0.5s ease;

}

.navbar {
    position: relative;
	text-align: left;
	width:100%;
	height:60px;
	background-repeat: repeat-x;
	background-position: top center;
	clear: left;
	overflow: hidden;
	border-bottom: none;
    -webkit-transition: border-bottom 0.5s ease ;
       -moz-transition: border-bottom 0.5s ease;
        -ms-transition: border-bottom 0.5s ease;
         -o-transition: border-bottom 0.5s ease;
            transition: border-bottom 0.5s ease;
}

.navbar.active {
    border-bottom: 1px solid white;
    -webkit-transition: border-bottom 0.5s ease ;
       -moz-transition: border-bottom 0.5s ease;
        -ms-transition: border-bottom 0.5s ease;
         -o-transition: border-bottom 0.5s ease;
            transition: border-bottom 0.5s ease;
}

.sidebar {
    width: 0px;
    margin: 10px;
    overflow: hidden;
    -webkit-transition: width 0.5s ease ;
       -moz-transition: width 0.5s ease;
        -ms-transition: width 0.5s ease;
         -o-transition: width 0.5s ease;
            transition: width 0.5s ease;
}

.sidebar.left {
    float: left;
}

.sidebar.left.active {
    width: 200px;
}

.sidebar.right {
    text-align: left;
    float: right;
}

.sidebar.right.active {
    width: 200px;
}

.content-frame {
    position: relative;
    opacity: 0;
	width: 0px;
	height: 0px;
	margin: 0px;
	overflow: auto;

	background-color: black;
	color: white;
}

.content-frame.inactive {
    opacity: 0;
    -webkit-transition: opacity 1s ease;
       -moz-transition: opacity 1s ease;
        -ms-transition: opacity 1s ease;
         -o-transition: opacity 1s ease;
            transition: opacity 1s ease;
}

.content-frame.active {
    opacity: 1;
	height: 100%;
	width: calc(100% - 240px);
    -webkit-transition: opacity 2s ease;
       -moz-transition: opacity 2s ease;
        -ms-transition: opacity 2s ease;
         -o-transition: opacity 2s ease;
            transition: opacity 2s ease;
}

.content-frame.active.left {
    float:right;
}

.content-frame.active.right {
    float:left;
}

.topbar {
    position: relative;
	width:100%;
	height:196px;
	background-repeat: repeat-x;
	background-position: top center;
	clear: left;
	overflow: hidden;
}


.brief {
    position: relative;
	text-align: left;
	width: calc(15% - 40px);
	color: #FFFFCC;
	background: none;
	overflow: auto;
	margin: 45px 20px 45px 20px;
	padding: 0px;
	padding-bottom: 15px;
	font-family: Tahoma, Geneva, sans-serif;
	float: left;
	display: block;
	background-color: rgba(66,38,42,0.3);
	border-radius: 20px;
}

.brief h1 {
    padding: 5px;
    margin: 0;
    padding-left: 15px;
    border-bottom: 3px solid #1b1600;
}

.brief p {
    padding: 8px 20px 8px 20px;
    margin: 0;
    font-size: small;
    line-height: 180%;
}

.navlink {
    cursor: pointer;
}

.navlinkImage {
    display: none;
}

.content {
    position: relative;
	text-align: left;
	width: calc(85% - 50px);
	height: calc(100% - 246px);
	color: #FFFFCC;
	background: none;
	overflow: auto;
	margin: 0px;
	padding: 25px;
	font-family: Tahoma, Geneva, sans-serif;
	float: right;
	display: block;
}

.video {
    position: relative;
	float: left;
	clear: both;
	margin: 0px;
	border: 1px solid #222200;
	display: block;
}

.photo {
	margin: 0px;
	border: 1px solid #222200;
	box-shadow: 2px 2px 4px black;
}

h1 {
    font-weight: bold;
	font-size: x-large;
	border-bottom: 1px solid white;
	//font-family: Tahoma, Geneva, sans-serif;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
}

h2 {
    font-weight: bold;
	font-size: large;
	//font-family: Tahoma, Geneva, sans-serif;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	margin-bottom: -15px;
}

body {
    position: relative;
	background-position: center top;
	background-repeat: repeat-x;
	font-size: medium;
	line-height: 190%;
	background-color: black;
	margin: 0px;
	height: 100%;
	color: white;
}

p {
    clear: left;
    margin-left: 10px;
}

a:link {
    color: #cccc33;
}

a:visited {
    color: #999933;
}

a:hover {
    color: yellow;
}

a:active {
    color: red;
}