html {
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
	background-position: center top;
	background-repeat: repeat-x;
	font-size: medium;
	line-height: 190%;
	background-color: black;
	margin: 0px;
	height: 100%;
	color: white;
}

h1 {
    font-weight: bold;
	font-size: x-large;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
    margin-left: 0px;
}

h2 {
    font-weight: bold;
	font-size: large;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	margin-bottom: -15px;
    margin-left: 0px;
}

p {
    clear: left;
    margin-left: 5px;
}

a:link {
    color: #cccc33;
}

a:visited {
    color: #999933;
}

a:hover {
    color: yellow;
}

a:active {
    color: red;
}


/* Logo Bar */

.logo {
    text-align: center;
    width: 100%;
    height: 80px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}


/* Navigation  Bar */

.navbar {
    position: relative;
	text-align: left;
	width:100%;
	margin-top: 20px;
	height:60px;
	background-repeat: repeat-x;
	background-position: top center;
	clear: left;
	overflow: hidden;
	border-bottom: none;
    -webkit-transition: border-bottom 0.5s ease;
       -moz-transition: border-bottom 0.5s ease;
        -ms-transition: border-bottom 0.5s ease;
         -o-transition: border-bottom 0.5s ease;
            transition: border-bottom 0.5s ease;
}

.navbar.active {
    border-bottom: 1px solid white;
    -webkit-transition: border-bottom 0.5s ease;
       -moz-transition: border-bottom 0.5s ease;
        -ms-transition: border-bottom 0.5s ease;
         -o-transition: border-bottom 0.5s ease;
            transition: border-bottom 0.5s ease;
}

.navbar.instantactive {
    border-bottom: 1px solid white;
}


/* Navigation Links */

.navlink {
    position: relative;
    cursor: pointer;
}

.navlink.right {
    margin-right: calc(50% - 300px);
    float: right;
}

.navlink.right.animated {
    -webkit-transition: margin-right 0.5s ease;
       -moz-transition: margin-right 0.5s ease;
        -ms-transition: margin-right 0.5s ease;
         -o-transition: margin-right 0.5s ease;
            transition: margin-right 0.5s ease;
}

.navlink.left {
    margin-left: calc(50% - 300px);
    float: left;
}

.navlink.left.animated {
    -webkit-transition: margin-left 0.5s ease;
       -moz-transition: margin-left 0.5s ease;
        -ms-transition: margin-left 0.5s ease;
         -o-transition: margin-left 0.5s ease;
            transition: margin-left 0.5s ease;
}

.navlink.left.active {
    margin-left: 0px;
    -webkit-transition: margin-left 0.5s ease ;
       -moz-transition: margin-left 0.5s ease;
        -ms-transition: margin-left 0.5s ease;
         -o-transition: margin-left 0.5s ease;
            transition: margin-left 0.5s ease;

}

.navlink.left.instantactive {
    margin-left: 0px;
}

.navlink.right.active {
    margin-right: 0px;
    -webkit-transition: margin-right 0.5s ease;
       -moz-transition: margin-right 0.5s ease;
        -ms-transition: margin-right 0.5s ease;
         -o-transition: margin-right 0.5s ease;
            transition: margin-right 0.5s ease;

}

.navlink.right.instantactive {
    margin-right: 0px;
}


/* Sidebar Picture */

.sidebar {
    width: 0px;
    margin: 0px;
    overflow: hidden;
    -webkit-transition: width 0.5s ease;
       -moz-transition: width 0.5s ease;
        -ms-transition: width 0.5s ease;
         -o-transition: width 0.5s ease;
            transition: width 0.5s ease;
}

.sidebar.left {
    float: left;
}

.sidebar.left img {
    float: right;
}

.sidebar.left.instantactive {
    width: 300px;
    -webkit-transition: width 0s;
       -moz-transition: width 0s;
        -ms-transition: width 0s;
         -o-transition: width 0s;
            transition: width 0s;
}

.sidebar.left.active {
    width: 300px;
    -webkit-transition: width 0.5s ease;
       -moz-transition: width 0.5s ease;
        -ms-transition: width 0.5s ease;
         -o-transition: width 0.5s ease;
            transition: width 0.5s ease;
}

.sidebar.right {
    text-align: left;
    float: right;
}

.sidebar.right.instantactive {
    width: 300px;
    -webkit-transition: width 0s;
       -moz-transition: width 0s;
        -ms-transition: width 0s;
         -o-transition: width 0s;
            transition: width 0s;
}

.sidebar.right.active {
    width: 300px;
    -webkit-transition: width 0.5s ease;
       -moz-transition: width 0.5s ease;
        -ms-transition: width 0.5s ease;
         -o-transition: width 0.5s ease;
            transition: width 0.5s ease;
}


/* Content Frame */

.content-frame {
    position: relative;
    opacity: 0;
	width: 0px;
	height: 0px;
	margin: 0px;
	overflow: auto;

	background-color: black;
	color: white;
}

.content-frame.inactive {
    opacity: 0;
	height: 900px;
    -webkit-transition: opacity 1s ease;
       -moz-transition: opacity 1s ease;
        -ms-transition: opacity 1s ease;
         -o-transition: opacity 1s ease;
            transition: opacity 1s ease;
}

.content-frame.active {
    opacity: 1;
	height: 900px;
	width: calc(100% - 300px);
    -webkit-transition: opacity 2s ease;
       -moz-transition: opacity 2s ease;
        -ms-transition: opacity 2s ease;
         -o-transition: opacity 2s ease;
            transition: opacity 2s ease;
}

.content-frame.active.left {
    float:right;
}

.content-frame.active.right {
    float:left;
}

.navlinkImage {
    display: none;
}

.subnavlink {
	border: 1px solid rgba(255,255,255,0.6);
    width: 200px;
    height: 150px;
    margin: 15px;
    padding: 10px;
    clear: none;
    display: inline-block;
    text-align: center;
    font-size: x-large;
    padding-top: 60px;
    color: black;
    font-weight: bold;
}

.subnav a {
    opacity: 0.6;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

.subnav a:hover {
    opacity: 1;
}


.content {
    position: relative;
	text-align: left;
	width: calc(100% - 100px);
	height: calc(100% - 190px);
	color: #FFFFCC;
	background: none;
	overflow: auto;
	margin: 0px;
	padding: 25px;
	padding-top: 5px;
	padding-left: 0px;
	font-family: Tahoma, Geneva, sans-serif;
	margin-left: 0px;
	float: left;
	display: inline;
}

.video {
    position: relative;
	float: left;
	margin: 0px;
	border: 1px solid #222200;
	display: inline-block;
	text-align: center;
	font-size: small;
	margin: 10px;
}

.photo {
	margin: 0px;
	border: 1px solid #222200;
	box-shadow: 2px 2px 4px black;
}

.backlink {
    float: left;
    clear: none;
    width: 30px;
    display: inline;
    overflow: hidden;
    padding-top: 10px;
    margin: 10px;
}

